body{
    transition: background-color 1s ease;
}

.title{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
    color:rgb(227, 214, 198);
    /* animation: appear 2s ease-in; */
}

.plot1{ 
    position: absolute; 
    top: 22%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    font-family: 'Times New Roman', Times, serif; 
    
    opacity:0;
    /* animation: plot1 5s steps(100) forwards;  */
    font-size: 20px; 
    color:white;
}
.plot1.show{
    opacity: 1;
    animation: plot1 5s steps(100) forwards; 
}

.plot2{ 
    position: absolute; 
    top: 90%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px; 
    color:white;
    opacity:0
}
.plot2.show{
    animation: plot1 8s steps(100) forwards; 
    opacity: 1;
}

.plot3{ 
    position: absolute; 
    top: 248%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px; 
    color:white;
    opacity:0;
    cursor:pointer;
}
.plot3.show{
    animation: appear 3s ease-in; 
    opacity: 1;
}
.plot4{ 
    position: absolute; 
    top: 337%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px; 
    color:white;
    opacity:0
}
.plot4.show{
    animation: plot1 8s steps(100) forwards; 
    opacity: 1;
}



.Chapter1img1{
    position: absolute;
    top: 42%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 1100px;
    opacity:0
}
.Chapter1img1.show{
    animation: appear 3s ease-in;
    opacity: 1;
}

.Chapter1img2{
    position: relative;
    display:block;
    width: 100%; 
    z-index:1;
    opacity:0;
}
.Chapter1img2.show{
    animation: appear 3s ease-in;
    opacity: 1;
}
.Chapter1img5{
    position: absolute;
    top: 266%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 1100px;
    opacity:0;
}
.Chapter1img5.show{
    animation: appear 3s ease-in;
    opacity: 1;
}

.Chapter1img4{
    position: relative;
    display:block;
    width: 60%;
    transform: translateX(33%); 
    z-index:2;
    opacity:1;
}
.Chapter1img4.show{
    animation: appear 3s ease-in;
    opacity: 1;
}
.Chapter1img3 {
  position: absolute; 
  top: calc(43%);
  left: calc(12%);       
  width: 80%;            
  height: auto;
  z-index: 5;             
  opacity: 0;             
  pointer-events: none;   
  transition: opacity 240ms ease, transform 240ms ease;
  transform: translateY(6px) scale(0.995); 
}
.Chapter1img4:hover ~ .Chapter1img3 {
  opacity: 1;
  pointer-events: auto; 
  transform: translateY(0) scale(1);
}
.Chapter1img4:hover {
  opacity: 0;
}

.paint {
  position: absolute; 
  top: calc(268%);
  left: calc(35%);       
  width: 450px;            
  height: auto;
  z-index: 5;             
  opacity: 0;   
  transition: opacity 240ms ease, transform 240ms ease;
  transform: translateY(6px) scale(0.995); 
}
.paint.show{
    animation: appear 2s ease-in;
    opacity: 1;
}

.img2Wrap{
    position:absolute;
    top:110%;
    left:50%;
    transform:translate(-50%);
    width:1100px;
    overflow:hidden;
}

.question{
  position: absolute; 
  top: 10%;
  right: 20%;
  width: 25%; 
  opacity: 0;
  z-index: 2;         
  pointer-events: auto;
}
.response{
  position: absolute; 
  top: 15%;
  left: 15%;
  width: 25%;    
  opacity: 0;
  z-index: 2;         
  pointer-events: auto;
}
.question.show{
    animation: appear 2s ease-in;
    opacity: 1;
}
.response.show{
    animation: appear 2s ease-in;
    opacity: 1;
}

@keyframes plot1 {
  from { width: 0; }
  to   { width: calc(100 * 1ch); }
}

@keyframes appear {
  from { opacity: 0}
  to   { opacity: 1}
}


.backButton a {
  text-decoration: none;
}
.backButton{
    position:fixed;
    left:20px;
    top:20px;
    color:rgb(177, 163, 139);
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}

.spanClick{
    color:antiquewhite;
    cursor:pointer;
}

.s1{
    position:fixed;
    bottom:0px;
    width:100%;
    z-index: 5;
    display:none;
    opacity: 0;
}
.s1.show{
    animation: appear 2s ease-in;
    opacity: 1;
}
.s1.hide{
    animation: appear 2s ease-in;
    opacity: 0;
}
.s2{
    position:fixed;
    bottom:0px;
    width:100%;
    z-index:6;
    display:none;
    opacity: 0;
}
.s2.show{
    animation: appear 2s ease-in;
    opacity: 1;
}
.s3{
    position:fixed;
    bottom:0px;
    width:100%;
    z-index:7;
    display:none;
    opacity: 0;
}
.s3.show{
    animation: appear 2s ease-in;
    opacity: 1;
}
.s4{
    position:fixed;
    bottom:0px;
    width:100%;
    z-index:8;
    display:none;
    opacity: 0;
}
.s4.show{
    animation: appear 2s ease-in;
    opacity: 1;
}
.c1.big{
    transform: scale(2)
}