body{
    transition: background-color 1s ease;
}

.title{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
    color:rgb(227, 214, 198);
    /* animation: appear 2s ease-in; */
}

.plot1{ 
    position: absolute; 
    top: 22%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    font-family: 'Times New Roman', Times, serif; 
    opacity:0;
    font-size: 20px; 
    color:white;
}
.plot1.show{
    opacity: 1;
    animation: plot1 5s steps(100) forwards; 
}
.plot2{ 
    position: absolute; 
    top: 90%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    font-family: 'Times New Roman', Times, serif; 
    opacity:0;
    font-size: 20px; 
    color:bisque;
    cursor:pointer;
}
.plot2.show{
    opacity: 1;
    animation: plot1 5s steps(100) forwards; 
}
.plot3{ 
    position: absolute; 
    top: 310%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    font-family: 'Times New Roman', Times, serif; 
    opacity:0;
    font-size: 20px; 
    color:white;
}
.plot3.show{
    opacity: 1;
    animation: plot1 5s steps(100) forwards; 
}
.plot4{ 
    position: absolute; 
    top: 375%;
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    display: inline-block; 
    white-space: nowrap; 
    overflow: hidden; 
    font-family: 'Times New Roman', Times, serif; 
    opacity:0;
    font-size: 20px; 
    color:bisque;
    cursor:pointer;
}
.plot4.show{
    opacity: 1;
    animation: plot1 5s steps(100) forwards; 
}




.Chapter1img1{
    position: absolute;
    top: 42%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 1100px;
    opacity:0;
}
.Chapter1img1.show{
    animation: appear 3s ease-in;
    opacity: 1;
}
.Chapter4img2{
    position: absolute;
    top: 103%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 1100px;
    opacity:0;
}
.Chapter4img2.show{
    animation: appear 3s ease-in;
    opacity: 1;
}
.Chapter4img2{
    position: absolute;
    top: 103%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 1100px;
    opacity:0;
}
.Chapter4img2.show{
    animation: appear 3s ease-in;
    opacity: 1;
}

.Chapter4img3{
    position: absolute;
    top: 210%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 1100px;
    opacity:0;
    /* animation: appear2 3s ease-in 1 forwards; */
}
.Chapter4img3.show{
    animation: appear2 3s ease-in 1 forwards;
    opacity: 1;
}

.Chapter4img4{
    position: absolute;
    top: 330%; 
    left: 33%; 
    transform: translateX(-50%); 
    width: 600px;
    opacity:0;
}
.Chapter4img4.show{
    animation: appear 3s ease-in;
    opacity: 1;
}
.Chapter4img5{
    position: absolute;
    top: 390%; 
    left: 67%; 
    transform: translateX(-50%); 
    width: 600px;
    opacity:0;
}
.Chapter4img5.show{
    animation: appear 3s ease-in;
    opacity: 1;
}

/* .Chapter1img4:hover ~ .Chapter1img3 {
  opacity: 1;
  pointer-events: auto; 
  transform: translateY(0) scale(1);
}
.Chapter1img4:hover {
  opacity: 0;
} */

@keyframes plot1 {
  from { width: 0; }
  to   { width: calc(100 * 1ch); }
}

@keyframes appear {
  from { opacity: 0}
  to   { opacity: 1}
}
@keyframes appear2 {
  from { opacity: 0; transform: translateX(-50%) scale(1)}
  to   { opacity: 1; transform: translateX(-50%) scale(2)}
}


.backButton a {
  text-decoration: none;
}
.backButton{
    position:fixed;
    left:20px;
    top:20px;
    color:rgb(177, 163, 139);
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}



.ii1,.ii2,.ii3,.ii4{
    position: absolute;
    top: 103%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 1100px;
    opacity:0;
    z-index:99;
}
.ii1.show,.ii2.show,.ii3.show,.ii4.show{
    animation: appear .5s ease-in;
    opacity: 1;
}

.ii5{
    position: absolute;
    top: 330%; 
    left: 33%; 
    transform: translateX(-50%); 
    width: 600px;
    opacity:0;
}
.ii5.show{
    animation: appear .5s ease-in;
    opacity: 1;
}
.ii6{
    position: absolute;
    top: 390%; 
    left: 67%; 
    transform: translateX(-50%); 
    width: 600px;
    opacity:0;
}
.ii6.show{
    animation: appear .5s ease-in;
    opacity: 1;
}




.Chapter4img4{
    position: absolute;
    top: 330%; 
    left: 33%; 
    transform: translateX(-50%); 
    width: 600px;
    opacity:0;
}
.Chapter4img4.show{
    animation: appear 3s ease-in;
    opacity: 1;
}



.scroll{
    position:fixed;
    top:10%;
    width:100%;
    height:auto;
    display:none;
    color:white;
}
.scroll13{
    color:white;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    display:none;
    text-align: center;
}
.scroll13.show{
    opacity:1;
    animation: appear2 3s ease-in 1 forwards;
}
#scroll.show{
    animation:appear 2s ease-in;
}

.space{
 position:absolute;
 top:500%;
 width:100%;
 height:1200%;
}

