body{
    height:100%;
    margin:0;
    background-color: black;
}

.backButton a {
  text-decoration: none;
}
.backButton{
    position:fixed;
    left:20px;
    top:20px;
    color:rgb(177, 163, 139);
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}

.screen-flash {
  position: fixed;
  inset:0;
  pointer-events: none;  
  background: rgba(255, 0, 0, 0.8); 
  opacity: 0;
  transition: opacity 220ms ease-out;
  z-index: 9999;     
}
.flash1{
    position: fixed;
    left: 50%; 
    transform: translateX(-50%); 
}

.screen-flash.visible {
  opacity: 1;
  transition: opacity 120ms ease-in;
}

.character{
    position:fixed;
    height:70%;
    top:15%;
    z-index:99;
    left:50%;
    opacity:1;
    animation: appear 2s ease-in;
    display:none;
    pointer-events: none;
}
.character1{
    position:fixed;
    height:70%;
    top:18%;
    z-index:98;
    left:10%;
    animation: appear 2s ease-in;
    display:flex;
    pointer-events: none;
}
.character2{
    position:fixed;
    height:120%;
    width:36%;
    top:-3%;
    z-index:98;
    left:45%;
    animation: appear 2s ease-in;
    display:none;
    pointer-events: none;
}



.bg{
    position:absolute;
    width: 1000%;        
    height: 80%;
    top:10%;
    background: linear-gradient(90deg,#b9a384 0%,#f8e7d0 10%,#5a4b35 15%, #442b11 25%, #000000 30%,#000000 57%,#f8e7d0 60%,#514c49 65%, #000000 95%,#f8e7d0 100%);
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.hscroll{
    width:100vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.IO1{
    position:absolute;
    top:-1%;
    left:4%;
    width:4.5%;
    cursor:pointer;
}
.IO2{
    position:absolute;
    top:3%;
    left:6%;
    width:4.5%;
    cursor:pointer;
    z-index:12;
}
.IO3{
    position:absolute;
    top:-9%;
    left:8%;
    width:6%;
    cursor:pointer;
    z-index:11;
}
.IO4{
    position:absolute;
    top:1%;
    left:14%;
    width:5%;
    cursor:pointer;
}
.IO5{
    position:absolute;
    top:3%;
    left:17%;
    width:6%;
    cursor:pointer;
}
.IO6{
    position:absolute;
    top:3%;
    left:21.5%;
    width:6%;
    cursor:pointer;
}
.IO7{
    position:absolute;
    top:2%;
    left:29%;
    width:6%;
    cursor:pointer;
}
.IO8{
    position:absolute;
    top:2.4%;
    left:35.0%;
    width:6%;
    cursor:pointer;
}
.IO9{
    position:absolute;
    top:2%;
    left:49.0%;
    width:6%;
    cursor:pointer;
}
.IO10{
    position:absolute;
    top:2%;
    left:58%;
    width:4.5%;
    cursor:pointer;
}
.IO11{
    position:absolute;
    top:5%;
    left:64%;
    width:4.5%;
    cursor:pointer;
    opacity:1;
    z-index:30;
}
.IO11grave{
    position:absolute;
    top:5%;
    left:63%;
    width:4.5%;
    cursor:pointer;
    opacity:0;
    z-index:29;
}
.IO11grave.show{
opacity:1;
 animation: appear 1s ease-in;
}
.IO11.hide{
opacity:0;
 animation: disappear 1s ease-in;
}
.IO12{
    position:absolute;
    top:5%;
    left:67%;
    width:4.5%;
    cursor:pointer;
    opacity:1;
    z-index:29;
}
.IO13{
    position:absolute;
    top:5%;
    left:71%;
    width:4.5%;
    cursor:pointer;
    opacity:1;
    z-index:29;
}
.IO14{
    position:absolute;
    top:5%;
    left:75%;
    width:4.5%;
    cursor:pointer;
    opacity:1;
    z-index:29;
}
.IO15{
    position:absolute;
    top:5%;
    left:80%;
    width:3.6%;
    cursor:pointer;
    opacity:1;
    z-index:99;
}
.IO16{
    position:absolute;
    top:5%;
    left:86%;
    width:4.5%;
    cursor:pointer;
    opacity:1;
    z-index:30;
}
.IO17{
    position:absolute;
    top:1.5%;
    left:98%;
    width:1.4%;
    cursor:pointer;
    opacity:1;
    z-index:30;
}




.text{
    position:fixed;
    bottom:3.5%;
    left: 50%; 
    text-align: center;
    transform: translateX(-50%); 
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    opacity:0;
}

#t11.show,#t12.show,#t2.show,#t3.show,#t4.show,#t51.show,#t52.show,#t61.show,
#t62.show,#t7.show,#t81.show,#t82.show,#t9.show,#t10.show,#t111.show,
#t121.show,#t13.show,#t14.show,#t151.show,#t152.show,#t153.show,#t154.show{
 opacity:1;
 animation: appear 2s ease-in;
}
#t11.hide,#t12.hide,#t2.hide,#t3.hide,#t4.hide,#t51.hide,#t52.hide,#t61.hide,
#t62.hide,#t7.hide,#t81.hide,#t82.hide,#t9.hide,#t10.hide,#t111.hide,
#t121.hide,#t13.hide,#t14.hide,#t151.hide,#t152.hide,#t153.hide,#t154.hide{
 opacity:0;
 animation: disappear 2s ease-in;
}



@keyframes appear {
  from { opacity: 0}
  to   { opacity: 1}
}
@keyframes disappear {
  from { opacity: 1}
  to   { opacity: 0}
}

.IO81{
    position:absolute;
    top:2.4%;
    left:37.0%;
    width:6%;
    cursor:pointer;
}
.IO82{
    position:absolute;
    top:2.4%;
    left:39.0%;
    width:6%;
    cursor:pointer;
}
.IO83{
    position:absolute;
    top:2.4%;
    left:41.0%;
    width:6%;
    cursor:pointer;
}
.IO84{
    position:absolute;
    top:2.4%;
    left:43.0%;
    width:6%;
    cursor:pointer;
}
.IO85{
    position:absolute;
    top:2.4%;
    left:45.0%;
    width:6%;
    cursor:pointer;
}
.IO86{
    position:absolute;
    top:2.4%;
    left:47.0%;
    width:6%;
    cursor:pointer;
}
