body{
  transition: background-color 3s ease;
}

#introQuote {
  position: absolute;
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: In 3s ease-in;
}

@keyframes In {
  from { opacity: 0; }
  to   { opacity: 1; }
}