
#letter{
    margin-left:420px;
    margin-top:40px;
    width:640px;
    height:200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transform: rotate(5deg);
}

#bg{
    width:100%;
    height:680px;
}

.firework{
    animation: fade 5s ease-out 1 forwards;
}

@keyframes fade {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

#greet{
   margin-left:400px;
   width:600px;
   height:50px;
}

.Mikan{
    width:400px;
    margin-left:100px;
}

.greeting{
    color:white;
    text-align: center;
}

.button{
    margin-left:260px;
}