body{
    background-color: black;
}

.box{
    margin-left:300px;
    margin-top:205px;
    background-color: rgb(255,215,0);
    width:100px;
    height:50px;
    text-align: center;
    transform:rotate(360deg);
    color:red;
    transition: all 3s linear;
}

p{
    /*transform: translate(100px);*/
    transition: transform 1s linear;
}

.d{
    display:inline-block;
    transform: rotate(360deg);
}

.d:hover{
    transition: transform 1s linear;
}

p:hover{
    transform:scale(4);
}

.box:hover{
    background-color: black;
}

.box3{
    margin-left:200px;
    color:white;
    width:80px;
    height:50px;
    border: 1px solid white;
}

.box3:nth-child(odd){
    font-family:'Courier New', Courier, monospace;
    color:brown;
}

.box3:nth-child(3n){
    text-decoration: underline;
}

@keyframes float {
  from { transform: translateY(0); }
  to   { transform: translateY(-20px); }
}

.box3:nth-child(4){
    animation: float 2s ease-in infinite;
}
.no{
    display:inline-block;
    animation: sink 2s ease-in infinite alternate;
}