body{
    margin:0px;
    background-color: blueviolet;
}

#mainwrapper{
    width:100%;
    max-width:1200px;
    height:100px;
    background-color: pink;
    margin: auto;
}

#headlinewrapper{
    width:1200px;
    height:50px;
    background-color: rgb(141, 141, 209);
}

#headlinewrapper p{
    text-align: center;
}

.nav{
    width: 24%;
    height:50px;
    background-color: rgb(199, 138, 138);
    display: inline-block;
}

#nav-wrapper{
    outline: red 1px solid;
    text-align: center;
}