body{
    background: #030316;
    color:#eaf0ff;
    position:relative;
}

.hours{
   display:inline-block;
   overflow:auto;
}

.planet{
    background-color: rgb(56, 56, 87);
    display:inline-block;
    position: relative;
}

.star{
    position:absolute;
    width:20px;
}

.planet.active{
    animation: planetScale 4s ease-in-out infinite;
}

@keyframes planetScale {
    0% {transform: scale(0.5)}
    50% {transform: scale(1.5)}
    100% {transform: scale(0.5)}
}

#flash{
    width:100px;
    height:100px;
    background-color: #eaf0ff;
    opacity: 0;

}

#flash.flashAnimation{
    animation: changeOpacity 100ms linear;
}

@keyframes changeOpacity {
    0% {opacity: 0 }
    50% {opacity: 1}
    100% {opacity: 0 }
}


#flash.flashClass{
    opacity: 0.25
}

